#root {
  max-width: 1280px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* container for login and sign-up components */
.container {
  width: 60vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

/* Input Fields */
.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: smaller;
}

.input {
  outline: none;
  background-color: #e3eafd;
  @apply w-full px-4 ps-9 py-2;
  @apply font-semibold;
  @apply rounded-md;
}

.input::placeholder {
  color: rgba(61, 61, 61, 0.6);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  outline: none;
  font-size: 0.85rem;
  font-weight: 700;
}

.line-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-divider i {
  /* margin: 0 8px; */
  transform: translateY(1px);
}

.more-options {
  display: flex;
  align-items: center;
  gap: 2%;
  justify-content: left;
  min-width: fit-content;
}

.other-plat-links {
  display: flex;
  justify-content: space-evenly;
}

.other-plat-links a {
  outline: none;
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 5px;
}

.img-container {
  pointer-events: none;
  user-select: none;
}